# Node.js dependencies
backend/node_modules/
backend/dist/
frontend/node_modules/
backend/dist/

# Logs
*.log

# Build / cache folders
frontend/build/
frontend/.expo/
frontend/android/
frontend/ios/
.vscode/
.env